<!DOCTYPE html>
<html>
<head>
  <title>AuditTrails</title>
  <%= stylesheet_link_tag    "audit_trails/application", media: "all" %>
  <%= javascript_include_tag "audit_trails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
